<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile_pic.jpg"%> 
	</div>

	<div id="content">
		<h2>Hey I am Manisha</h2>
		<pf>Schlitz offal literally letterpress, street art PBR&B small batch flannel sriracha YOLO chartreuse knausgaard 3 wolf moon. Hashtag umami kale chips four dollar toast, cred vice everyday carry. Street art meditation affogato migas, ethical venmo lomo wolf. Keffiyeh skateboard normcore tumblr tote bag. PBR&B drinking vinegar twee, deep v you probably haven't heard of them shoreditch before they sold out artisan health goth blue bottle street art. Shabby chic cardigan cold-pressed paleo butcher. Small batch shoreditch salvia, bicycle rights tumblr gentrify polaroid health goth banjo ennui food truck humblebrag listicle lo-fi craft beer.</p>
	</div>
</div>